# 用户ID，需要自己爬
USER_ID=114514
# 学号
SCHOOL_NO=114514
# 姓名
NAME=Cai
# 认证信息，需要自己爬
AUTHORIZATION='Bearer 3年的JWT'
# 打卡时间，cron表达式，默认每10分钟打一次
CRON='*/10 * * * *'
# 打卡位置名字
LOCATION_NAME=逼州带专铜盘校区教学楼
# 打卡位置经纬度
LOCATION_LON=119.26226
LOCATION_LAT=26.103733
# 任何时间都打卡，关闭后只在截止时间10分钟前打卡
SIGN_ANY_TIME=true